<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Debug"
      internalLogFile="${basedir}/logs/internal-nlog.log">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
        <add assembly="NLog.DiagnosticSource" />
    </extensions>

    <include file="nlog-common.config" ignoreErrors="true" />

    <rules>
        <logger name="*" minlevel="Trace" writeTo="console,fileJson" final="true" />
    </rules>
</nlog>